doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login Stargazers
        link(rel="icon" href="/csspublicresource/webicon.png")
        style
            include ./styles/style-login.css
    body 
        .loginWrap
            .topic= "Login Form"
            form#loginform
                input(type="text" id="username" autocomplete="off" placeholder="Username") 
                input(type="password" id="password" autocomplete="off" placeholder="Password")
                input(type="submit" id="submit" value="LOGIN")
            .acrequest
                p.noac=                "Don't have account?"
                |  
                a(href=registerUrl)=   "Signup Now"
        script.
            mainUrl="#{mainUrl}";
            mainAPIUrl="#{mainAPIUrl}";

        script. 
            const form = document.getElementById('loginform');
            form.addEventListener('submit', login)
            async function login(event){
                event.preventDefault()
                const username = document.getElementById('username').value
                const password = document.getElementById('password').value
                const result = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-type' : 'application/json'
                    },
                    body: JSON.stringify({
                        username,
                        password
                    })
                }).then((res) => res.json())

                if (result.status === 'ok'){
                    //- POST request with body equal on data in JSON format
                    const customID=JSON.parse(atob(result.data.split(".")[1])).id;
                    const resultRedirect = await fetch(mainAPIUrl, {
                        method: 'POST',
                        headers: {
                            'Content-type' : 'application/json',
                        },
                        body: JSON.stringify({
                            username,
                            customID
                        })
                    }).then((res)=>{
                        location.href = mainUrl
                    })
                }
                else{
                    alert(result.error)
                }
            }


            