doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Settings
  link(rel="icon" href="/csspublicresource/webicon.png")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap' rel='stylesheet')
  style 
    include ./styles/style-forum.css
    include ./styles/style-setting.css
header
input#hamburgercheck(type='checkbox' name='slider')
nav#slidebar1
  .hamburger
    .line.line1
    .line.line2
    .line.line3
  a(href='./forums')= 'Forums'
  a(href='./setting')= 'Settings'
  a(href='./logout')= 'Logout'

// NavBar Section
.navbar
  .brand Stargazers
  .loginName= "Welcome "+username+"!"

.search-box
  div
    select(name='' id='')
      option(value='Everything') Heated News
      option(value='Titles') Education
      option(value='Descriptions') Films and movies
    input(type='text' name='q' placeholder='search ...')
    button
      i.fa.fa-search
.backgroundUpload
  h1= 'UPLOAD CUSTOM BACKGROUND'
  h3= 'Upload your desired background image here: '
  .filedrop
    form(method='POST' action="/" enctype="multipart/form-data" id="imgform")
      input(type='file' name='file' id="bgFile")
      input(type='submit' value='Upload' id="imgSubmitted")
  h3= 'Your current background image:'
  .previewimgwrap
    img(src="", alt="no profile picture uploaded yet" id="showCurrentImg")
.modelSettings
  label(for='avatars') Choose your avatar:
  select#avatars(name='avatarList' form='avatarForm')
    option(value='dragon') dragon
    option(value='haru') haru
    option(value='shizuku') shizuku
    option(value='wanko') wanko
  p= "* preview your avatar in one of the rooms"
  span= "current avatar choice:" 
  #showAvatarChoice
footer
  span
script.
  const showAvatarChoice = document.getElementById("showAvatarChoice")
  const avatarOption = document.getElementById("avatars")
  avatarOption.addEventListener('change', (event)=>{
    showAvatarChoice.innerText = event.target.value
    avatarChoiceSubmit(event.target.value)
    
  });

  async function avatarChoiceSubmit(modelDefName){
    fetch('/setModel', {
      method: 'POST',
      headers: {
        'Content-type' : 'application/json'
      },
      body: JSON.stringify({
        modelDefName
      })
    })
  }

  const showCurrentImg = document.getElementById("showCurrentImg")
  const form = document.getElementById('imgform');
  form.addEventListener('submit', imgSubmit)
  async function imgSubmit(event){
    event.preventDefault()
    // save iamge to database
    let bgFile = document.getElementById('bgFile');
    let data = new FormData()
    data.append('file', bgFile.files[0])
    fetch('/setBackgroundImage', {
      method: 'POST',
      body: data
    }).then((res) => res.json()).then(result=>{
      alert(result.status);
      renderBackgroundImage();
    })
  }

  async function renderBackgroundImage(){
    // render the image if it exists
    const renderResult = await fetch('/getBackgroundImage', {
        method: 'POST',
        headers: {
            'Content-type' : 'application/json'
        }
    }).then((res) => res.json()).then(renderResult=>{
      if (renderResult.status!='not found pic'){
        showCurrentImg.src = renderResult.status
      }
    })
  }

  window.onload = function() {
    avatarChoiceSubmit('dragon');
    renderBackgroundImage();
  };